<nav class="navbar navbar-expand-lg navbar-light bg-secondary ">
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  <!-- Barra de navegação, nome do usuario e imagem do Criador -->
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
         <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFvpXtoHoJ36A/profile-displayphoto-shrink_200_200/0/1611685158715?e=1639008000&v=beta&t=YQtQBBUKucuv8AE4BgZfn7v2uGHr6tlRcrw7GCTMvYM"
         alt="Imagem do user" width="50px" height="50px" class="img-fluid rounded-circle">
        </li>
        <!-- Nome do Usuario, colocar o icone de edit -->
              <li class="nav-item pl-3">
                      <p class="m-0 font-weight-bold text-white fs-16">Nome do usuário</p>
              </li>
      </ul>
      
      <!-- Botão de Sair, colocar o icone de sair -->
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
          <a class="m-0 font-weight-bold text-white fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </li>
      </ul>


      
      
     
    </div>
  </nav>
